<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CurrentVersion" value="1.0"/>
		<add key="AlarmDelayMinutes" value="5"/>
		<add key="Preset1" value="17:05" />
		<add key="Preset2" value="13:30" />
		<add key="ActiveAlarmRingtone" value="Media/mp3/Alarm1.mp3" />
		<add key="AvailableAlarmRingtones" value="Media/mp3/Alarm1.mp3;Media/mp3/Alarm2.mp3;Media/mp3/Alarm3.mp3;Media/mp3/Alarm4.mp3;Media/mp3/Alarm5.mp3;Media/mp3/Alarm6.mp3;Media/mp3/Alarm7.mp3;" />
	</appSettings>
</configuration>