<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Info" internalLogFile="c:\temp\internal-nlog.txt">

	<targets>
		<target name="logfile" xsi:type="File"
				fileName="${specialfolder:folder=LocalApplicationData}/AwakeDesk/Logs/${shortdate}.log"
				layout="${longdate} ${uppercase:${level}} ${message} ${exception:format=tostring}"
				archiveEvery="Day"
				archiveDateFormat="yyyyMMdd"
				maxArchiveFiles="7"/>
		<!-- Keep logs for 7 days -->
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>